<?xml version="1.0" encoding="utf-8" ?>
<settings 
  xmlns="http://ibatis.apache.org/providers"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<add key="CSDBProvider" value="oracleClient2.0" />
  <add key="CSDBConnectionString" value="Data Source= (DESCRIPTION =
                    (ADDRESS_LIST = 
                      (ADDRESS = (PROTOCOL = TCP)(Host = 10.68.10.18)(Port = 1521))
                    )
                    (CONNECT_DATA = 
                      (SID = whdb)
                    )
                  ); User Id=sfmg; Password=sfmg1018;" />  
</settings>