<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <!--<setting validateSqlMap="false"/>-->
  </settings>

  <!-- config proerties-->
  <properties resource="Database.config"/>
  <providers resource="Providers.config"/>  
	<!-- Database connection information -->
  <database>
    <provider name="${CSDBProvider}"/>
    <dataSource name="QMServer" connectionString="${CSDBConnectionString}"/>
  </database>

	<sqlMaps>
    <sqlMap resource="./Maps/Task.xml" />
  </sqlMaps>
</sqlMapConfig>