
@{
    Layout = "~/Views/Shared/_LayoutAdminContent.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <!--基本信息-->
            <div class="ibox-title">
                <h5>基本信息设置 <small>认真填写每项Item</small></h5>
            </div>
            <div class="ibox-content">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="任务名称">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务类型</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="account">
                                <option>选项 1</option>
                                <option>选项 2</option>
                                <option>选项 3</option>
                                <option>选项 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务文件</label>
                        <div class="col-sm-10">
                            <input type="file" placeholder="任务文件" class="form-control">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务参数</label>
                        <div class="col-sm-10">
                            <input type="text"  placeholder="任务参数" class="form-control">
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            任务状态
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="account">
                                <option>选项 1</option>
                                <option>选项 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注信息</label>
                        <div class="col-sm-10">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">保存内容</button>
                            <button class="btn btn-white" type="submit">取消</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--基本信息结束-->
            <!--任务计划-->
            @Html.Action("Time")
            <!--任务计划结束-->
            <!--邮件设置-->
            @Html.Action("Mail")
            <!--邮件设置结束-->
            <!--自定义sql-->
            <!--自定义sql结束-->
        </div>
    </div>
</div>