<div class="ibox-title">
    <h5>FTP设置 <small>认真填写每项Item</small></h5>
</div>
<div class="ibox-content">
    <form method="get" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">FTP Server</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="FTP Server">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">帐号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="FTP帐号">
            </div>
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="FTP密码">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">远程目录</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Remote Path">
            </div>
        </div>
    </form>
</div>
