@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row J_mainContent" id="content-main">
    <iframe id="J_iframe" width="100%" height="100%" 
            src="/task/list" frameborder="0" 
            data-id="/task/list" seamless></iframe>
</div>